/****************
*********************************/

@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Anton|Oswald:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&display=swap&subset=latin-ext');
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	z-index: 0;
	background-color: #222;
	max-width: 3200px;
	min-width: 300px;
}

.wrapper {
  width: 90%;
  max-width: 110%;
  margin: 0 auto;
	min-width: 300px;
	height: auto;
}

main {
	min-width: 320px;
}

a {
	text-decoration: none;
}

.h1-fii .button-h1 {
	margin-top: 20px;
}
/*#################### mobile nav ######################*/

.humburger-container div {
	margin: 0 1rem;
}

.humburger-container {
	display: flex;
	justify-content: space-around;
}

.open-menu {
	width: 50px;
	height: 50px;
	font-size: 1rem;
	top: 0;
	cursor: pointer;
	font-family: 'Oswald'  sans-serif;
}
/*################  side menu ###################*/
.sidenav {
	  height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav h1 {
			 font-family: 'Oswald', sans-serif;
			 color: #818181;
			text-align: center;
			font-size: 2rem;
			margin-top: 5rem;

}
.open-menu {
	font-size:2rem;top:0;cursor:pointer;font-family: 'Oswald',sans-serif;
}

.mobile-nav .sidenav a h3 {
    padding: 8px 8px 8px 32px;
	  text-align: center;
    text-decoration: none;
    font-family: 'Oswald' sans-serif;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
		font-weight: 600;
}

#mySidenav span, .wrapper .mobile-nav #mySidenave a {
	  font-family: 'Oswald',sans-serif;
}

.sidenav .m-menu:hover, .offcanvas a h3:focus,
.mySidenav span:hover {
    color: #f1f1f1;
}

.sidenav a h3:hover {
	 color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
		font-weight: 500;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/***************nav****************/


.desktop-nav {
	display: flex;
	justify-content: center;
	align-content: space-between;
	margin: 0 auto;
  flex-wrap: wrap;
  width: 85%;
}

.desktop-nav ul, .desktop-nav .ul {
	display: flex;
	justify-content: center;
	align-content: space-between;

}

.desktop-nav  a {
  text-align: center;
  font-size:15px;
	margin:  0.5em;
}

.mobile-nav {
  display: none;
}

.mobile-nav-container {
  text-align: center;
}

.humburger-container {
	font-size:2rem;
  color: white;
  font-family: 'Oswald' sans-serif;
}

.humburger-container {
	display: flex;
	opacity: 0.8;
	align-items: center;
	justify-content: center;
}

.humburger-container span {
	padding-top: 0;
	padding-bottom: 0.6rem;
	font-family: 'Oswald' sans-serif;
}

nav {
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 100;
  padding-top: 2px;
  box-shadow:5px 9px 40px 16px rgba(0, 0, 0, 0.4);
  }


.humburger-container img {
  padding: 10px 0 8px 0;
  height: 3rem;
}

nav ul {
	margin-bottom: 1rem;
	width: 100%;
}

nav .desktop-nav li, nav .desktop-nav a {
  display:inline-block;
	width: 170px;
  color: rgb(0, 45, 116);
  text-transform:  uppercase;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

nav .desktop-nav h2 {
	margin: 0.2rem;
	font-size:1.5rem;
	font-weight: 300;
}

nav a {
  color: #90949C;
  text-decoration: none;
}

nav .mobile-nav {
	text-align: right;
}

nav a:hover,
nav .open-menu:hover {
	color: grey;
}

@media screen and (max-width: 990px){
	.button {
		width: auto;
	}
}

@media screen and (max-width: 940px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

}


@media screen and (max-width:945px) {
  nav a {
  padding:0 5px;
  }

}


@media screen and (max-width:455px){
	.mobile-nav .humburger-container {
		text-align: center;
	}

	.mobile-nav .log-in-mobile {
		display: none;
	}

	/*##### hero ##########*/
	.hero {
		padding-top:0;
	}
}

/*##############  button ################*/
.button {
    position: relative;
    /*background-color: #304030;*/
    border: none;
    font-size:2rem;
    color: #222;
    padding: 15px 5px 5px 5px;
			margin: 0 0.5rem;
    width: 15%;
		border-radius: 3px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:hover{
	border-bottom: 2px #222 solid;
}

/***************hero**************/

.landing-img {
 width: 100%;
 height: 900px;
 position: relative;
 background-image: url("image/landing.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: auto;
 background-position: center;

}

.word-container {
	position: absolute;
  width: 100%;
	height: 900px;
	background: rgba(0,0,0,0.3);
	color: #fff;
	z-index: 0;
}

.word-container  h2 {
	margin-top: 270px;
	margin-left: 150px;
	font-size: 3rem;
	font-family: 'Ropa Sans', sans-serif;
	line-height: 1.5;
	margin-bottom: 0;
}

.word-container p {
	margin-left: 150px;
	font-family: 'Ropa Sans', sans-serif;
	margin-top: 0;

}

.logo-container {
	float: right;
	margin-top: 270px;
	margin-right: 150px;
	width: 400px;
	display: flex;
	flex-direction: column;
}

.logo-container img {
	width: 100%;
	height: auto;
}

.logo-container .foxconn-logo {
	width: 50%;
	height: auto;
	margin-bottom: 1rem;
}

.learn-more {
	position: absolute;
	width: 13%;
	height: 60px;
	margin: 0 auto;
	margin-top: 10px;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 1.8rem;
  transition-duration: 500ms;
	background-color: rgb(193, 2, 48);
	border-radius: 5px;

}

.learn-more a {
		cursor: pointer;
		color: #fff;
}

.learn-more:hover {
	border: red 1px solid;
	background-color: rgba(193, 2, 48, 0.2);
}

/*############### event info ############################*/

.main-background {
	    width: 100%;
			height: 600px;
			background-image: url("image/content-image.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			padding: 4rem 5rem;
			margin: 0 auto;

}
.main-content {
	width: 75%;
	margin: 0 auto;
	height: auto;
	background: rgba(0, 0, 0, 0.5);

}

.tab-bar {
	display: flex;
	width: 35%;
	height: 80px;
  flex-direction: column;
	color: #fff;
	float: left;
	margin-top: 3rem;
}

.option-info {
	float: left;
	width: 60%;
	padding: 1rem 2rem;
	color: #fff;
	font-size: 1.2rem;
	font-family: 'Ropa Sans', sans-serif;
	line-height: 1.2;

}

.tab-button {
	padding: 1rem;
	width: 50%;
	height: 80px;
	font-size: 1.8rem;
	font-family: 'Ropa Sans', sans-serif;
	font-weight: 700;
	background: none;
	border: none;
	transition-duration: 500ms;
	cursor: pointer;
	color: #fff;
}

.active {
	background: rgba(255, 0, 0, 0.5);
}

.tab-button:hover {
	/*background: rgba(0,0,0,0.3);*/
	border-bottom: 2px solid #fff;
	color: grey;
}
/*######################################## map */

#googleMap {
	border-radius: 5px;
	border: 2px solid #fff;
}

/*####################################### speaker */

.speaker {
	width: 450px;
	height: auto;
}
/*######################################## sign up*/
.register button {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 1.3rem;
	padding: 0.5rem;
	margin: 1rem 0;
	border-radius: 5px;
	font-weight: 600;
	transition: 1s;
}
.register button a {
	cursor: pointer;
	transition: 1s;
}

.register button:hover {
	background: rgba(0, 0, 0, 0.3);
	border: #fff 1px solid;
	color: #fff;
}

.register button a:hover {
	color: #fff;
}

.scan {
	width: 100px;
	height: auto;
}

@media screen and (max-width: 1000px) {
  .logo-container{
		margin-top: 600px;
		margin-right: 80px;
		flex-direction: column;
	}


	.word-container h2 {
		margin-top: 120px;
		margin-left: 80px;
	}

	.word-container p {
		margin-left: 80px;
	}


	.learn-more{
		width: auto;
	}
	.option-info, .tab-bar {
    width: 100%;
	}
	.option-info {
		margin-top: 1rem;
	}

	.main-content {
		width: 100%;
	}
	.main-background {
		padding: 4rem 2rem;
	}
	.tab-bar {
		justify-content: center;
		padding-top: 4rem;
		margin-bottom: 8rem;
	}
	.tab-button{
		width: auto;
	}
	.main-background {
		height: 900px;
	}
}
@media screen and (max-width: 500px) {
  .logo-container{
		margin-top: 600px;
		margin-right: 10px;
		flex-direction: column;
		width: 300px;
	}

	.word-container p {
		margin-left: 10px;
	}
	
	.speaker img {
		width: 100%;
	}


	.word-container h2 {
		margin-top: 120px;
		margin-left: 10px;
	}
       .option-info {
		padding: 0;
	}
}
 /*##############################################*/

 @keyframes fadeInUp {
     from {
         transform: translate3d(0,40px,0)
     }

     to {
         transform: translate3d(0,0,0);
         opacity: 1
     }
 }

 @-webkit-keyframes fadeInUp {
     from {
         transform: translate3d(0,40px,0)
     }

     to {
         transform: translate3d(0,0,0);
         opacity: 1
     }
 }

 .animated {
     animation-duration: 1s;
     animation-fill-mode: both;
     -webkit-animation-duration: 1s;
     -webkit-animation-fill-mode: both
 }

 .animatedFadeInUp {
     opacity: 0;
 }

 .fadeInUp {
     opacity: 0;
     animation-name: fadeInUp;
     -webkit-animation-name: fadeInUp;
 }

 .clearfix::after {
content: "";
display: table;
clear: both;
}
